.top {
  width: 100vw;
  height: 100vh;
  background-image: url("top_img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    height: 100px;
    width: 500px;
    position: relative;
    top: 260px;
    left: 110px;
    h1 {
      font-size: 100px;
      font-family: 'Snell Roundhand',sans-serif;
    }
  }
}

body {
  background-image: url("back.gif");
}

header {
  width: 100vw;
  height:110px;
  background-image: url("bg.png");
}

.header {
  width: 70vw;
  margin: 0 auto;
  color: #fff;
  &__top {
    width: 100%;
    height:40px;
    p {
      color: #fff;
      // width:400px;
      font-size: 70px;
      font-family: 'Snell Roundhand',sans-serif;
      &:hover {
        transition:.4s;
        color:#5e4a2d;
        cursor:pointer;
      }
    }
  }
  &__bottom {
    width: 100%;
    &__sign {
      float: right;
      ul {
        display:flex;
        li {
          text-align:center;
          margin-left:30px;
          p {
            font-size:30px;
            color: #fff;
            font-family: 'Snell Roundhand',sans-serif;
            letter-spacing:0.1rem;
          }
          span {
            color: #fff;
            font-size:9px;
            margin-left:10px;
            font-family: 'Snell Roundhand',sans-serif;
            letter-spacing:0.2rem;
          }
          &:hover {
            cursor:pointer;
            p,span {
              color:#5e4a2d;
              transition:.4s;
            }
          }
        }
      }
    }
  }
}

.mid {
  position:relative;
}

.middle {
  width:85vw;
  height:100%;
  margin:50px auto 0;
  background:#fff;
  border:solid 1px rgb(255, 123, 0);
  border-radius: 5px;
  display:flex;
  &__list {
    width:30%;
    margin: 0 auto;
    padding:10px;
    > p {
      padding-left:10px;
      width:100%;
      min-height:50px;
      > a {
        color: rgb(125, 148, 10);
      }
    }
    &__bottom {
      padding-left:10px;
      p {
        display:inline;
        font-weight:600;
        + span {
          color:rgb(0, 132, 255);
          font-size:17px;
        }
      }
    }
  }
  &__image {
    width:100%;
    height:300px;
    border: solid 1px rgb(222, 213, 192);
  }
}

.food_1 {
  opacity:1;
  position:relative;
  z-index:100;
}

.food_2 {
  opacity:0;
  position:absolute;
  top:-50px;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
}

.food_3 {
  opacity:0;
  position:absolute;
  top:-50px;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
}

.main {
  width: 100vw;
  height: calc( 100% - 90px );
  margin-top: 40px;
  &__side {
    width: 28%;
    height: 100%;
    float: left;
    &__search {
      width: 80%;
      height: calc( 100% - 40px);
      // height: 600px;
      border:solid 1px rgb(255, 123, 0);
      border-radius:5px;
      background: #fff;
      padding:20px;
      margin: 0px auto;
      position:relative;
      h1 {
        font-size:20px;
        font-weight:600;
        color:rgb(226, 90, 0);
        margin-bottom:10px;
      }
      .search__input {
        width:100%;
        // width:260px;
        height:30px;
        border:solid 1px gray;
        border-radius:5px;
        + input {
          background:#fff;
          border:solid 1px gray;
          border-radius:5px;
          padding:2px 8px;
          font-size:12px;
          cursor:pointer;
          margin-bottom:20px;
        }
      }
      .search__list {
        width:70%;
        // width:216px;
        min-height:0px;
        position:absolute;
        top:113px;
        border:solid 1px gray;
        border-top:none;
        border-radius: 0 0 5px 5px;
        background:#fff;
        p {
          padding:2px 5px;
          height:22px;
          font-size:13px;
          overflow:hidden;
          &:hover {
            background:rgb(255, 223, 153);
            font-weight:600;
            cursor:pointer;
          }
        }
      }
    }
  }
  &__contents {
    width: calc( 98vw - 28%);
    height: calc( 100% - 40px);
    margin-bottom:60px;
    float: left;
    background: #fff;
    border:solid 1px rgb(255, 123, 0);
    border-radius:5px;
    &__top {
      width: 90%;
      height: 36px;
      border-bottom: solid 1px #ffdda9;
      margin: 20px auto 0;
      display:flex;
      justify-content: space-between;
      p {
        font-size: 24px;
        font-weight: 600;
      }
      .main__more {
        background:#fff;
        color:rgb(0, 132, 255);
        border:none;
        cursor:pointer;
        position:relative;
        z-index:100;
      }
    }
    &__bottom {
      width: 90%;
      min-height: 320px;
      margin: 20px auto 60px;
      display: flex;
    }
    .main__wrap {
      flex-wrap: wrap;
    }
  }
  &__food {
    width: 31%;
    margin: 10px 0px 10px 10px;
    border: solid 1px rgb(222, 213, 192);
    border-radius:5px;
    position:relative;
    opacity: 0;
    > p {
      background:#fff;
      color:rgb(253, 138, 6);
      width:250px;
      min-height:80px;
      padding:10px;
      font-size:14px;
      border:solid 1px rgb(255, 123, 0);
      border-radius: 5px;
      opacity:0;
      position:absolute;
      top:-85px;
      right:10px;
    }
    &__img {
      width: 100%;
      height: 250px;
    }
    &__name {
      width: 94%;
      min-height: 55px;
      color: rgb(125, 148, 10);
      margin: 0px auto;
      // overflow: hidden;
    }
    &:hover {
      border:solid 1px rgb(0, 110, 255);
      transition: .4s;
    }
    &__info {
      padding:0 10px 10px;
      p {
        color:#000;
        display:inline;
        font-weight:600;
        + span {
          color:rgb(0, 132, 255);
          font-size:18px;
        }
      }
    }
  }
}

.good_count {
  color:#000;
  float:right;
  font-size:14px;
}

.paginate {
  width:100%;
  height:40px;
  padding-left:20px;
}

.search__food {
  margin-bottom:60px;
}

.clearfix:after {
  display:block;
  content:"";
  clear: both;
}

footer {
  width:100vw;
  height:60px;
  background:rgb(63, 42, 14);
  p {
    width:140px;
    margin:0 auto;
    color:#fff;
    font-size:30px;
    line-height:60px;
    font-family: 'Snell Roundhand',sans-serif;
    &:hover {
      opacity:0.8;
      cursor:pointer;
    }
  }
}