.top {
  width: 100vw;
  height: 100vh;
  background-image: url("top_img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    height: 100px;
    width: 500px;
    position: relative;
    top: 260px;
    left: 110px;
    h1 {
      font-size: 100px;
      font-family: 'Snell Roundhand',sans-serif;
      // font-family: 'Zapfino',serif;
      // font-family: 'Sacramento', cursive;
    }
  }
}

body {
  background-image: url("back.gif");
}

header {
  width: 100vw;
  height:110px;
  background-image: url("bg.png");
}

.header {
  width: 70vw;
  height: 110px;
  margin: 0 auto;
  color: #fff;
  &__top {
    width: 100%;
    height:40px;
    a {
      color: #fff;
      font-size: 70px;
      font-family: 'Snell Roundhand',sans-serif;
      &:hover {
        transition:.4s;
        color:#5e4a2d;
      }
    }
  }
  &__bottom {
    width: 100%;
    height: 50px;
    &__sign {
      float: right;
      ul {
        display:flex;
        li {
          text-align:center;
          margin-left:30px;
          p {
            font-size:30px;
            color: #fff;
            font-family: 'Snell Roundhand',sans-serif;
            letter-spacing:0.1rem;
          }
          span {
            color: #fff;
            font-size:9px;
            margin-left:10px;
            font-family: 'Snell Roundhand',sans-serif;
            letter-spacing:0.2rem;
          }
          &:hover {
            cursor:pointer;
            p,span {
              color:#5e4a2d;
              transition:.4s;
            }
          }
        }
      }
    }
  }
}

.main {
  width: 100vw;
  height: calc( 100% - 90px );
  margin-top: 40px;
  &__side {
    width: 400px;
    height: 100%;
    float: left;
    &__search {
      width: 300px;
      // height: calc( 100% - 40px); #あとでいる
      height: 600px;
      border:solid 1px rgb(255, 123, 0);
      border-radius:5px;
      background: #fff;
      margin: 0px auto;
    }
  }
  &__contents {
    width: calc( 98vw - 400px);
    height: calc( 100% - 40px);
    margin-bottom:60px;
    float: left;
    background: #fff;
    border:solid 1px rgb(255, 123, 0);
    border-radius:5px;
    &__top {
      width: 90%;
      height: 36px;
      border-bottom: solid 1px #ffdda9;
      margin: 20px auto 0;
      display:flex;
      justify-content: space-between;
      p {
        font-size: 24px;
        font-weight: 600;
      }
    }
    &__bottom {
      width: 90%;
      min-height: 320px;
      margin: 20px auto 60px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__food {
    width: 31%;
    margin: 10px;
    border: solid 1px rgb(222, 213, 192);
    border-radius:5px;
    position:relative;
    p {
      background:#fff;
      color:rgb(253, 138, 6);
      width:250px;
      min-height:80px;
      padding:10px;
      font-size:14px;
      border:solid 1px rgb(255, 123, 0);
      border-radius: 5px;
      opacity:0;
      position:absolute;
      top:-85px;
      left:20px;
    }
    &__img {
      width: 100%;
      height: 250px;
      background: rgb(72, 93, 161);
    }
    &__name {
      width: 94%;
      height: 55px;
      color: rgb(125, 148, 10);
      margin: 0px auto;
      overflow: hidden;
    }
    &:hover {
      border:solid 1px rgb(0, 110, 255);
    }
  }
}

.search__food {
  margin-bottom:60px;
}