.detail {
  width:70vw;
  height: 100%;
  margin:40px auto;
  background:#ffffff;
  border:solid 1px rgb(255, 123, 0);
  border-radius:5px;
  &__top {
    width:100%;
    padding:0 25px;
    min-height:100px;
    border-bottom:solid 2px #ffdda9;
    h1 {
      color:rgb(125, 148, 10);
      font-size:24px;
      font-weight:600;
      padding:10px;
      text-align: center;
    }
    p {
      height:100%;
      color:rgb(100, 100, 100);
    }
  }
  &__middle {
    width:100%;
    display:flex;
    &__img{
      width:45%;
      height:400px;
      margin:20px 0 0 20px;
    }
    &__stuffs {
      width: calc( 100% - 45%);
      margin:20px;
      table {
        width:90%;
        margin: 0 auto;
        tr {
          border-bottom:solid 1px rgb(150, 150, 150);
        }
      }
      &__top {
        > th {
          font-size:18px;
          font-weight: 600;
          text-align:center;
        }
      }
      &__left {
        padding-left:5px;
      }
      &__right {
        text-align:right;
        padding-right:5px;
      }
      .emphasis {
        font-weight:600;
        text-align:center
      }
    }
  }
  &__bottom {
    width:95%;
    height:100%;
    margin:20px auto 20px;
    padding:20px 0;
    border-top:solid 1px #ffdda9;
    > p {
      font-size:24px;
      font-weight: 600;
      color:rgb(255, 180, 94);
    }
    &__recipe {
      margin-left:60px;
      margin-bottom:30px;
      flex-wrap: wrap;
      display:flex;
      &__list {
        width:20%;
        min-height:150px;
        margin:5px 20px;
        padding:5px 10px;
        background:rgb(255, 230, 183);
        border:solid 1px rgb(255, 123, 0);
        border-radius:5px;
        span {
          font-size:20px;
          font-weight:600;
          color:rgb(255, 102, 0);
        }
        p {
          color:rgb(100, 100, 100);
          font-weight:600;
        }
      }
    }
    &__point {
      background:rgb(255, 230, 183);
      width:50%;
      min-height:100px;
      margin-left:60px;
      padding:10px;
      border:solid 1px rgb(255, 123, 0);
      border-radius:5px;
      color:rgb(100, 100, 100);
      font-weight:600;
    }
    &__good {
      width:100px;
      height:50px;
      margin-top:40px;
      > p {
        width:160px;
        font-size:12px;
        margin: 5px 0px 0px 10px;
        padding:5px;
        color: gray;
        border:solid 1px gray;
        border-radius:10px;
        opacity:0;
      }
    }
  }
}

.good__btn {
  width:100px;
  height:25px;
  line-height:25px;
}

.no__good__btn {
  width:100px;
  height:25px;
  line-height:20px;
  border:solid 1px gray;
  border-radius:40px;
  text-align:center;
  > span {
    font-size:12px;
  }
}

.food__goods {
  background:#f5f5f5;
  border-radius:40px;
  &:hover {
    background:rgb(255, 185, 185);
    transition: .4s;
    color:#fff;
    border:solid 1px rgb(255, 126, 126);
  }
}

.good_now {
  border:solid 1px rgb(255, 126, 126);
  * {
    color:rgb(255, 78, 78);
  }
  &_heart {
    font-size:18px;
  }
}

.other {
  width:70vw;
  background:#ffffff;
  margin: 0 auto 40px;
  padding-bottom:40px;
  border:solid 1px rgb(255, 123, 0);
  border-radius:5px;
  &__foods {
    width:90%;
    margin:0 auto;
    > p {
      padding:20px 0 10px;
      margin-bottom:20px;
      font-weight:600;
      border-bottom:solid 1px gray;
    }
    &__list {
      display:flex;
      flex-wrap:wrap;
      .other__food {
        width:30%;
        margin:0px 0px 20px 10px;
        border: solid 1px rgb(222, 213, 192);
        border-radius:5px;
        &:hover {
          border:solid 1px rgb(0, 110, 255);
          transition: .4s;
        }
        > img {
          width:100%;
          height:250px;
        }
        > p {
          color:rgb(125, 148, 10);
          min-height:50px;
          padding:0 10px;
        }
        &__info {
          padding:0 10px 10px;
        }
      }
    }
  }
}
